---
---

<section id="about" class="section bg-dark-800 relative">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="section-title mt-3" data-aos="fade-right">About me</h2>
    
    <div class="mt-6">
      <div data-aos="fade-up" data-aos-delay="100">
        <p class="text-lg text-gray-300 mb-6">
          Experienced IT professional with over 14 years of service in the technology sector. I have refined my skills through continuous learning and hands-on experience, specializing in Python development. My background cover both, frontend and backend technologies, making me a versatile and innovative developer.
        </p>
        <p class="text-lg text-gray-300">
          With a passion for clean code and user-centric design, I specialize in building responsive web applications that provide exceptional user experiences. My approach combines technical expertise with creative problem-solving to deliver solutions that exceed expectations.
        </p>
        
        <!-- Services -->
        <div class="mt-12 space-y-6">
          <div class="flex items-start gap-4" data-aos="fade-up" data-aos-delay="150">
            <div class="flex-shrink-0 w-12 h-12 bg-dark-700 rounded-lg flex items-center justify-center text-primary-400">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
              </svg>
            </div>
            <div>
              <h3 class="text-xl font-medium">Website Development</h3>
              <p class="text-gray-400 mt-1">Building responsive, performant websites with modern technologies.</p>
            </div>
          </div>
          
          <div class="flex items-start gap-4" data-aos="fade-up" data-aos-delay="250">
            <div class="flex-shrink-0 w-12 h-12 bg-dark-700 rounded-lg flex items-center justify-center text-primary-400">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
              </svg>
            </div>
            <div>
              <h3 class="text-xl font-medium">Backend Development</h3>
              <p class="text-gray-400 mt-1">Creation and management of the server-side logic, databases, and application infrastructure</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>